[submodule "cgo/xmrstak/xmr-stak"]
	path = cgo/xmrstak/xmr-stak
	url = https://github.com/fireice-uk/xmr-stak
	ignore = dirty
[submodule "cgo/ethminer/ethminer"]
	path = cgo/ethminer/ethminer
	url = https://github.com/ethereum-mining/ethminer.git
	ignore = dirty
[submodule "cgo/cpuminer/cpuminer-opt"]
	path = cgo/cpuminer/cpuminer-opt
	url = https://github.com/JayDDee/cpuminer-opt
	ignore = dirty
[submodule "cgo/cl/OpenCL-Headers"]
	path = cgo/cl/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
