[submodule "cgo/xmrstak/xmr-stak"]
	path = cgo/xmrstak/xmr-stak
	url = https://github.com/fireice-uk/xmr-stak
	ignore = dirty
[submodule "cgo/ethminer/ethminer"]
	path = cgo/ethminer/ethminer
	url = https://github.com/jgillich/ethminer.git
	ignore = dirty
