<!DOCTYPE html>

<head>
  <title>
    {{ if eq .URL "/" }}
      {{ .Site.Title }}
    {{ else if not (eq .Section "") }}
      {{ title .Title }} &middot; {{ .CurrentSection.Title }} &middot; {{ .Site.Title }}
    {{ else }}
      {{ title .Title }} &middot; {{ .Site.Title }}
    {{ end }}
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/jenil/bulmaswatch/0.6.0/cosmo/bulmaswatch.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/allienworks/cryptocoins/master/webfont/cryptocoins.css">

  <link rel="stylesheet" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ .Site.Home.Permalink }}">
            BlockForge
          </a>
        </div>
      </div>
  </nav>
